<div>
    <h3>Cervezas</h3>
    {{#each this.listOfBeer }}
    <div>
<img src="{{this.image_url}}" alt="beerimg" width="100px">
<h2>{{this.name}}</h2>
<h5>{{this.tagline}}</h5>
<p> {{this.description}}</p>
    </div>
    {{/each}}
</div>